body {
	font-family: sans-serif;
	max-width: 1280px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
	text-align: center;
	/*background-image: url("resources/metal-wallpaper.jpg");
	background-size: cover;*/
	background-color: #313131;
	color: #197983ff;
	font-size: 150%;
}
h1, h2, h3, h4 {
	color: #00d1c0;
}
h1 {
	text-align:center;
}
p {
	display:block;
	text-align:left;
}
.topP {
	text-align:center;
}
.logo-container {
	width:30%;
	border-style: dashed double solid double;
	border-left-width: 10px;
	border-right-width: 10px;
	border-radius: 50px;
	border-color:#197983ff;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
	padding-top:20px;
}
.logo-container:hover {
	border-color:#00d1c0;
}
ul {
	text-align: left;
}
.specs {
	border-style: dashed double solid double;
	border-left-width: 10px;
	border-right-width: 10px;
	border-radius: 50px;
	border-color: #00d1c0;
	margin-top:40px;
}
.insidespecs {
	margin-left:20px;
	margin-right:20px;
}
a {
	text-decoration: none;
	cursor: pointer;
}
.navigation {
	background-color: inherit;
	list-style-type: none;
	margin-top:40px;
	padding:0;
}
.navList {
	display:inline;
	width:auto;
}
.navI {
	display:inline-block;
	margin-left: auto;
	margin-right: auto;

}
.navI:hover{

}
.navI a {
	text-decoration:none;
	color:#197983ff;
	border-style:solid;
	border-color:#197983ff;
	padding:10px;
}
.navI a:hover {
	border-color:#00d1c0ff;
	color:#00d1c0ff;
}
.activePage {
}
